@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/bg.png");
  background-image: red;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  font-size: 2rem;
  color: #272727;
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
}

.header_title {
  font-size: 4.5rem;
  font-family: "UnifrakturCook", cursive;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar_element {
  display: inline-block;
  list-style: none;
  font-family: "MedievalSharp", cursive;
}

.navbar_element a {
  color: #41424c;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.scam_list {
  overflow-y: scroll;
  margin-bottom: 25rem;
  height: 630px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.scam_item {
  display: grid;
  grid-template-columns: 45px 2fr 3fr 150px;
  max-width: 700px;
  gap: 1rem;
  color: #272727;
  word-wrap: break-word;
  word-break: break-all;
  font-family: "MedievalSharp", cursive;
  margin-bottom: 0.8rem;
}

.scam_name {
  font-size: 1.6rem;
}

.scam_description {
  font-size: 1.2rem;
  padding: 0.3rem 0;
  margin-left: 2rem;
}

.scam_time {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 800;
  margin-top: 0.5rem;
}

.deleteScam {
  font-size: 1rem;
  padding: 8px;
  border-radius: 10px;
  color: #272727;
  font-family: "MedievalSharp", cursive;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-45%);
}

/* NEW SCAM PAGE */
.scamTitle {
  height: 40px;
  margin-bottom: 2rem;
}

.scamDescripton {
  height: 90px;
  resize: none;
  padding-top: 10px;
}

.scamDate {
  padding-top: 3rem;
  color: #41424c;
  border-radius: 5px;
}

.scamTitle,
.scamDescripton,
.scamDate {
  display: block;
  width: 430px;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #272727;
  background-color: transparent;
  outline: none;
  font-family: "MedievalSharp", cursive;
}

.titleLabel,
.descLabel,
.dateLabel {
  position: relative;
  pointer-events: none;
  font-size: 18px;
  transition: all 0.3s ease;
  font-family: "MedievalSharp", cursive;
}

.titleLabel {
  top: -62px;
}

.descLabel {
  top: -80px;
}

.dateLabel {
  top: -52px;
}

.scamTitle:focus ~ .titleLabel,
.scamTitle:valid ~ .titleLabel {
  top: -85px;
  font-size: 16px;
  color: #41424c;
}

.scamDescripton:focus ~ .descLabel,
.scamDescripton:valid ~ .descLabel {
  top: -110px;
  font-size: 16px;
  color: #41424c;
}

.scamTitle:focus,
.scamDescripton:focus {
  border-bottom: 2px solid #41424c;
}

.newScamBtn {
  display: flex;
  font-size: 17px;
  border: none;
  color: #272727;
  font-family: "MedievalSharp", cursive;
  letter-spacing: 1px;
  cursor: pointer;
  width: 200px;
  padding: 6px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 41%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.newScamBtn:hover {
  background-color: #acacac;
  font-size: 18px;
}

.backBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 38%;
  font-size: 18px;
  text-decoration: none;
  color: #272727;
  font-family: "MedievalSharp", cursive;
}

.achievement {
  position: absolute;
  top: 20px;
  right: -1000px;
  transition: all .3s ease;
}

.achievement img {
  width: 600px;
}

.ac_title {
  position: absolute;
  color: white;
  font-size: 50px;
  top: 50px;
  left: 110px;
  font-family: 'VT323', monospace;
}

/* PROGRESSBAR */
.progressbar {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 100px auto 0;
  height: 20px;
  background: #272727;
  overflow: hidden;
  top: -100px;
}

.prog {
  position: absolute;
  max-width: 500px;
  width: 100%;
  height: 100px;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
}

.progress_title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  width: 500px;
  z-index: 100;
  font-family: "MedievalSharp", cursive;
}

.progress_title a {
  text-decoration: none;
  color: white;
}

span.progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #595a68;
  transition: all 0.3s;
}

/* ACHIEVEMENTS */
.ac_list {
  overflow-y: scroll;
  margin-bottom: 25rem;
  height: 630px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.ac_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  gap: 1rem;
  color: #272727;
  word-wrap: break-word;
  word-break: break-all;
  font-family: "MedievalSharp", cursive;
  margin-bottom: 0.8rem;
}

.ac_name {
  font-size: 1.6rem;
}
